.my-cart-backdrop {

    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;

    display: none;
    justify-content: end;
    
    width: 100vw;
    height: 100vh;
    
    overflow: hidden;
    pointer-events: none;
    
    background-color: rgba(0, 26, 56, 0.30);
}

.my-cart {
    width: 515px;
}

/* header */

.my-cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 95px;

    padding-right: 32px;
    padding-left: 32px;

    border-bottom: 1px solid #EAEAEA;
}

.my-cart-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
}

.my-cart-close-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.my-cart-close-btn svg {
    width: 20px;
    height: 20px;
}

/* body */

.my-cart-form {
    display: flex;
    flex-direction: column;
}

.my-cart-body {
    height: 100%;
    max-height: 500px;
    margin: 0;
    padding: 0;

    overflow-y: scroll;
    list-style-type: none;
}

.my-cart-body::-webkit-scrollbar {
    display: none;
}
.my-cart-body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.my-cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 32px;
    padding-right: 32px;
}

.my-cart-item:not(:last-of-type) {
    border-bottom: 1px solid #EAEAEA;
}

.my-cart-item-first-box {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.my-cart-item-title {
    height: 22px;
    width: 210px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    font-size: 15px;
    font-weight: 600;
    line-height: 1.46;
}

.my-cart-item-variant {
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
}

.my-cart-item-quantity-box {
    display: flex;
    align-items: center;
    gap: 5px;
}

.my-cart-item-quantity-btn {
    width: 20px;
    height: 20px;

    padding: 0;

    border: none;
    background-color: transparent;
}

.my-cart-item-quantity-btn svg {
    width: 100%;
    height: 100%;
}

.my-cart-item-quantity {
    width: 40px;

    padding: 0;

    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.46;

    border: none;
    background-color: transparent;
}

.my-cart-item-second-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;

    height: 100px;
}

.my-cart-item-btn-delete {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 18px;
    height: 18px;

    padding: 3px;

    border-radius: 50%;
    border: 1px solid;
    
    background-color: transparent;
}

.my-cart-item-btn-delete svg {
    width: 100%;
    height: 100%;
}

.my-cart-item-total-price {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.46;
}

/* empty */

.my-cart-body-empty {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 300px;
}

.my-cart-text-empty {
    font-size: 25px;
    font-weight: 600;
    line-height: 1.46;
}

/* footer */

.my-cart-footer {
    width: 100%;

    padding-top: 40px;
    padding-right: 32px;
    padding-bottom: 80px;
    padding-left: 32px;
}

.my-cart-footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 32px;
}

.my-cart-footer-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
}

.my-cart-footer-total-price {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;  
}

.my-cart-footer-btn {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 60px;

    font-size: 16px;
    font-weight: 600;
    line-height: 1.75;

    border-radius: 50px;
    border: none;
}

.my-cart-footer-btn svg {
    position: absolute;
    right: 22px;
}